<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="temp-categories">
    <textarea style="display:none" id="tempCategory">
        <tr id="category_tr_{0}" class="table-warning">
            <td class="text-center">{0}</td>
            <td class="text-center">{1}</td>
           <td class="text-center">
               <button type="button" class="btn btn-outline-secondary btn-updateCategory" style="text-align: center"
                                data-id="{0}">
                            <i class="fa-solid fa-pen-to-square"></i>
               </button>
           </td>
           <td class="text-center">
               <button type="button" class="btn btn-outline-danger btn-deleteCategory" style="text-align: center"
                                data-id="{0}">
                            <i class="fa-solid fa-ban"></i>
               </button>
           </td>
        </tr>
    </textarea>
</th:block>